<p id="notice"><%= notice %></p>



<table>

  <tbody>
     <% @group_by_user_id = 0 %>
    <% @carts.each do |cart| %>
      <% if @group_by_user_id != cart.user.id %>
      <tr>
        <td><h2>Cart for: <%= cart.user.email %></h2></td>
      </tr>
      <% end %>
      <tr>
        
        <td><%= cart.product.name %></td>
        <td><%= image_tag cart.product.image_url %></td>
        <td><%= cart.quantity %></td>
      

        <td><%= link_to 'Delete From Cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% @group_by_user_id = cart.user.id %>
    <% end %>
  </tbody>
</table>

